# IAM binding for {{ kafka_topic_entity_name }} publishers
resource "google_pubsub_topic_iam_member" "{{ level_0 }}_{{ level_1 }}_{{ kafka_topic_entity_name }}_{{ entity_version }}__publisher_{{ member_index }}" {
  project = google_project.this_project.project_id
  topic   = "{{ pub_sub_topic }}"
  role    = "roles/pubsub.publisher"
  member  = "{{ member }}"

  depends_on = [module.{{ level_0 }}_{{ level_1 }}_{{ kafka_topic_entity_name }}_{{ entity_version }}__stream]
}

